@model PaginatedData<UserViewModel>

@{
    ViewBag.Title = "Mantenimiento de clientes";
    Layout = "_LayoutAdmin";
}

@{
    if (ViewBag.Message != null)
    {
        @if (ViewBag.Message is string)
        {
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <p class="text-center">@Html.Raw(ViewBag.Message.Replace("\n", "<br />"))</p>
                <br/>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        else
        {
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                @foreach (var line in ViewBag.Message)
                {
                    <p class="text-center">@line</p>
                }
                <br/>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
    }
}

<div class="row mb-2">
    <div class="justify-content-end">
        <a class="btn btn-success" asp-controller="HomeAdmin" asp-action="CreateUser">Agregar un usuario </a>
    </div>
</div>

<div class="row">
    <div class="card mb-3 w-50">
        <div class="card-header fw-bold">
            Filtros
        </div>
        <div class="card-body">
            <form asp-controller="HomeAdmin" asp-action="Users" method="get">
                <div class="d-flex justify-content-between">
                    <div class="input-group me-1">
                        <span class="input-group-text">Rol</span>
                        <select class="form-select" name="role" asp-items="@ViewBag.Roles">
                            <option value="">--Seleccione un rol--</option>
                        </select>
                        <button type="submit" class="btn btn-outline-primary">
                            Filtrar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
<div class="card">
    <div class="card-body">
    <div>
            @if (Model.Items.Count() == 0)
            {
                <div class="card-text text-muted text-center">No existe informacion de usuarios</div>
            }
            else
            {

                <table class="table table-sm table-striped w-100">
                    <thead>
                    <tr>
                        <th>UserName</th>
                        <th>Cédula</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Correo</th>
                        <th>Rol</th>
                        <th>creación</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var user in Model.Items)
                    {
                        <tr>
                            <td>@user.UserName</td>
                            <td>@user.IdentityCardNumber</td>
                            <td>@user.FirstName</td>
                            <td>@user.LastName</td>
                            <td>@user.Email</td>
                            <td>@user.RoleDisplayName</td>
                            <td>@user.RegisteredAt.ToShortDateString()</td>
                            <td>@(user.IsVerified ? "Activo" : "Inactivo")</td>
                            <td>
                                <div class="me-2">
                                    <a class="btn  @(user.IsVerified ? "btn-outline-danger" : "btn-outline-success")"
                                       asp-controller="HomeAdmin"
                                       asp-action="ChangeUserState"
                                       asp-route-userId="@user.Id"
                                       asp-route-state="@(!user.IsVerified)">
                                        @(user.IsVerified ? "Desactivar" : "Activar")
                                    </a>
                                </div>
                                <div>
                                    <a class="btn btn-outline-warning" asp-controller="HomeAdmin" asp-action="EditUser">
                                        Editar
                                    </a>
                                </div>
                            </td>
                        </tr>

                    }
                    </tbody>
                </table>
            }
        </div>
    </div>
    <div class="d-flex justify-content-center mt-2">
        @{
            int previosPageIndex = Model.Pagination.CurrentPage - 1;
            int nextPageIndex = Model.Pagination.CurrentPage + 1;
        }
        <ul class="pagination">
            @if (Model.Pagination.CurrentPage > 1)
            {
                <li class="page-item"><a class="page-link" asp-controller="HomeAdmin" asp-action="Clients" asp-route-page="@previosPageIndex">Anterior</a></li>
                <li class="page-item"><a class="page-link" asp-controller="HomeAdmin" asp-action="Clients" asp-route-page="@previosPageIndex">@previosPageIndex</a></li>
            }
            else
            {
                // Desactivados
                <li class="page-item"><a class="page-link disabled">Anterior</a></li>
                <li class="page-item"><a class="page-link disabled">@previosPageIndex</a></li>
            }
           
            <li class="page-item active"><a class="page-link" asp-controller="HomeAdmin" asp-action="Clients" asp-route-page="@Model.Pagination.CurrentPage">@Model.Pagination.CurrentPage</a></li>
            
            @if (Model.Pagination.CurrentPage < Model.Pagination.TotalPages)
            {
                
                <li class="page-item"><a class="page-link" asp-controller="HomeAdmin" asp-action="Clients" asp-route-page="@nextPageIndex">@nextPageIndex</a></li>
                <li class="page-item"><a class="page-link" asp-controller="HomeAdmin" asp-action="Clients" asp-route-page="@(Model.Pagination.CurrentPage + 1)">Siguiente</a></li>
            }
            else
            {
                //Desactivados
                <li class="page-item disabled"><a class="page-link">@nextPageIndex</a></li>
                <li class="page-item disabled"><a class="page-link">Siguiente</a></li>
            }
        </ul>
    </div>
</div>
</div>